include ../includes/head.pug
include ../includes/navigation.pug
include ../includes/container.pug

  .container
    form.form(action=`${token}` method="POST")
      label(for="password") Password
      input(type="password" name="password")
      label(for="confirm-password") Confirm Password
      input(type="password" name="confirm-password")
      button(type="submit" class="btn") Confirm