include ../includes/head.pug
include ../includes/navigation.pug
include ../includes/container.pug

  .forgot-password-container
    form.form-forgot-password(action=`${token}` method="POST")
      label(for="password") Password
      input(type="password" name="password")
      label(for="confirm-password") Confirm Password
      input(type="password" name="confirm-password")
      button(type="submit" class="btn") Confirm