@media screen and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
  }
  .order-container {
    max-width: 100%;
  }
  .product-detail-image {
    height: 350px;
    width: 350px;
  }
  .hamburger-icon {
    display: block;
    position: fixed;
    z-index: 22;
    top: 0px;
  }
  .nav-bar ul {
    display: none;
  }
  .nested-order-container {
    padding: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .hamburger-icon {
    display: block;
    position: fixed;
    z-index: 22;
    top: 0px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .nav-bar ul {
    display: none;
  }
  .title {
    font-size: 50px;
  }
  .order-container {
    max-width: 100%;
  }
  .product-detail-image {
    height: 350px;
    width: 350px;
  }
  .product-detail-card {
    padding: 20px;
  }
  .nested-order-container {
    padding: 15px 0;
  }
}