.active {
  color: #f4f9f4 !important;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:  #4ECDC4;
  color: #587760;
  padding: 14px;
  font-size: 18px;
}

.nav-bar li a{
  text-decoration: none;
  cursor: pointer;
  color: #556270;
}

.nav-bar li {
  list-style: none;
}

.nav-bar li a:hover, .nav-bar li a:active {
  color: #f4f9f4 !important;
}

/* --------------Mobile Nav---------------- */

.hamburger-icon {
  height: 100%;
  width: 100%;
  display: none;
  cursor: pointer;
  background-color:  #4ECDC4;
  color: #587760;
  padding: 14px;
}

.hamburger-icon-contents {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 40px;
  z-index: 20;
  background-color: #909cbfe3;
  padding-left: 20px;
  left: 0;
  animation-name: slide-in;
  animation-duration: 1s;
}

.hamburger-icon-content {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 40px;
  z-index: 20;
  background-color: #909cbfe3;
  padding-left: 20px;
  left: 0;
  animation-name: slide-in;
  animation-duration: 1s;
}

.hamburger-icon-content-out {
  visibility: hidden;
  width: 0%;
  height: 100%;
  position: fixed;
  font-size: 40px;
  z-index: 20;
  background-color: #909cbfe3;
  padding-left: 20px;
  left: 0;
  opacity: 1;
  animation-name: slide-out;
  animation-duration: 1s;
}

.hamburger-icon-content ul {
  list-style: none;
  text-decoration: none;
}

.hamburger-icon-content ul li {
  padding: 10px;
}

.hamburger-container {
  height: 24px;
}

@keyframes slide-in {
  0% { width: 20%;};
  25% {width: 40%};
  50% {width: 60%};
  75% {width: 80%};
  100% {width: 100%};
}

@keyframes slide-out {
  0% { width: 100%;visibility: visible};
  25% { width: 80%;visibility: visible};
  50% { width: 60%;visibility: visible};
  75% { width: 40%;visibility: visible};
  0% { width: 0%; visibility: hidden };
}